---

---

<script>
	const changeTheme = () => {
		console.log('david')
	}
	document.addEventListener('DOMContentLoaded', () => {
		document.querySelector('.btn').addEventListener('click', changeTheme)
	})
</script>
<button
	class='btn'
	id='theme'
>
	Theme
</button>
