---

---

<script>
	const changeTheme = () => {
		const HTMLElement = document.querySelector('html')
		if (HTMLElement.style.colorScheme === 'dark') {
			HTMLElement.style.colorScheme = 'light'
		} else {
			HTMLElement.style.colorScheme = 'dark'
		}
		console.log('david')
	}

	document.addEventListener('DOMContentLoaded', () => {
		document.querySelector('.btn').addEventListener('click', changeTheme)
	})
</script>
<button
	class='btn'
	id='theme'
>
	Theme
</button>
