---
import BotonTheme from '../components/BotonTheme.astro'
interface Props {
	title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang='es'>
	<head>
		<meta charset='UTF-8' />
		<meta
			name='description'
			content='Astro description'
		/>
		<meta
			name='viewport'
			content='width=device-width'
		/>
		<link
			rel='icon'
			type='image/svg+xml'
			href='/favicon.svg'
		/>
		<meta
			name='generator'
			content={Astro.generator}
		/>
		<title>{title}</title>
	</head>
	<body>
		<BotonTheme />
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--colorAux1: rgb(222, 171, 18);
		--colorAux2: rgb(0, 128, 72);
		--colorLight: rgb(214, 214, 214);
		--colorDark: rgb(44, 44, 44);
		color-scheme: light dark;
		color: light-dark(var(--colorDark), var(--colorLight));
		background-color: light-dark(var(--colorLight), var(--colorDark));
	}
	html {
		font-family: system-ui, sans-serif;
	}
</style>
